/* Import fonts */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Heade section */
.nav-icons {
    max-width: 1320px;
    height: 140px;
    border: 3px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    margin-left: 70px;
}

.nav-icons button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    opacity: 0.8;
    margin-right: 70px;
}